body {
  background-color: white; 
}
.container {
  margin-top: 16px;
  border: 1px solid blue; 
  border-radius: 10px; 
}
.map { 
  height: 700px;
  width: 1000px;
  margin: 0 auto; 
}
.full-width {
  width: 100%;
}
.form {
  text-align: center; 
}
